<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<nav>
<h1> Aqui barra de navegacion </h1> <hr>
        {% if user.is_authenticated %}
        <p>Bienvenido</p> <h4>{{user.username}}</h4>
        <a href="{% url 'logout' %}"> Cerrar sesion</a>

        {% else %}
        <a href="{% url 'registro' %}">Registrarse</a>
        <a href="{% url 'login' %}">Iniciar sesion</a>

        {% endif %}
</nav>

<body>
    {% block contenido %}


    {% endblock contenido %}
</body>
<hr>
<footer>
    <h1>Pie de pagina </h1>
</footer>

</html>